@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

select,
input,
textarea {
  border: 1px solid gray;
  outline-color: black;
  border-radius: 4px;
}

.active {
  background-color: #19b5ce;
  border-color: rgb(0, 0, 0);
}
