@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Ops+One&family=Cinzel+Decorative:wght@700&family=DM+Serif+Display&family=Fredericka+the+Great&family=Gajraj+One&family=Germania+One&family=Gloock&family=Grenze+Gotisch:wght@800&family=Holtwood+One+SC&family=Monoton&family=Orbitron:wght@900&family=Permanent+Marker&family=Press+Start+2P&family=Rock+Salt&family=Ruslan+Display&family=Staatliches&family=Syncopate:wght@700&family=UnifrakturCook:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
